<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeAutoreleasePool</string>
		<key>XCSurroundWithActionTitle</key>
		<string>Autorelease Pool</string>
		<key>XCSurroundWithActionSummary</key>
		<string>@autoreleasepool { ... }</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>@autoreleasepool {
			</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>
			}</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeBrackets</string>
		<key>XCSurroundWithActionTitle</key>
		<string>Brackets</string>
		<key>XCSurroundWithActionSummary</key>
		<string>[ ... ]</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>[</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>]</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeCurlyBraces</string>
		<key>XCSurroundWithActionTitle</key>
		<string>Curly Braces</string>
		<key>XCSurroundWithActionSummary</key>
		<string>{ ... }</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>{
			</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>
			}</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeInlineBlock</string>
		<key>XCSurroundWithActionTitle</key>
		<string>Inline Block</string>
		<key>XCSurroundWithActionSummary</key>
		<string>void (^BlockVariable)(void) = ^{ ... }</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>&lt;#returnType#&gt;(^&lt;#blockName#&gt;)(&lt;#parameterTypes#&gt;) = ^(&lt;#parameters#&gt;) {
			</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>};</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeNSLog</string>
		<key>XCSurroundWithActionTitle</key>
		<string>NSLog</string>
		<key>XCSurroundWithActionSummary</key>
		<string>NSLog(@&quot; ... &quot;)</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>NSLog(@&quot;</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>&quot;);</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeNSNumber</string>
		<key>XCSurroundWithActionTitle</key>
		<string>NSNumber Literal</string>
		<key>XCSurroundWithActionSummary</key>
		<string>@(...)</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>@(</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>)</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeNSString</string>
		<key>XCSurroundWithActionTitle</key>
		<string>NSString Literal</string>
		<key>XCSurroundWithActionSummary</key>
		<string>@&quot;...&quot;</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>@&quot;</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>&quot;</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeParenthesis</string>
		<key>XCSurroundWithActionTitle</key>
		<string>Parenthesis</string>
		<key>XCSurroundWithActionSummary</key>
		<string>( ... )</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>(</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>)</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypePragmaAuditNonNull</string>
		<key>XCSurroundWithActionTitle</key>
		<string>Audit Non-null region</string>
		<key>XCSurroundWithActionSummary</key>
		<string>NS_ASSUME_NONNULL_BEGIN ... END</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>NS_ASSUME_NONNULL_BEGIN
			</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>
			NS_ASSUME_NONNULL_END</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypePragmaDiagnostic</string>
		<key>XCSurroundWithActionTitle</key>
		<string>Pragma diagnostic region</string>
		<key>XCSurroundWithActionSummary</key>
		<string>#pragma clang diagnostic push ... pop</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>#pragma clang diagnostic push
			#pragma clang diagnostic ignored &quot;-Warc-performSelector-leaks&quot;
			</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>
			#pragma clang diagnostic pop</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeQuotesDouble</string>
		<key>XCSurroundWithActionTitle</key>
		<string>Double Quotes</string>
		<key>XCSurroundWithActionSummary</key>
		<string>&quot; ... &quot;</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>&quot;</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>&quot;</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeQuotesSingle</string>
		<key>XCSurroundWithActionTitle</key>
		<string>Single Quotes</string>
		<key>XCSurroundWithActionSummary</key>
		<string>&apos; ... &apos;</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>&apos;</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>&apos;</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeTryCatch</string>
		<key>XCSurroundWithActionTitle</key>
		<string>Try/Catch</string>
		<key>XCSurroundWithActionSummary</key>
		<string>@try{ ...} catch(NSException *exception) {}</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>@try {
			</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>}
			@catch(NSException *exception) {
				
				}</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeWhile</string>
		<key>XCSurroundWithActionTitle</key>
		<string>While</string>
		<key>XCSurroundWithActionSummary</key>
		<string>While(expression) { ... }</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>while(&lt;#Expression#&gt;) {
			</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>
			}</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeDoWhile</string>
		<key>XCSurroundWithActionTitle</key>
		<string>Do/While</string>
		<key>XCSurroundWithActionSummary</key>
		<string>do { ... } while(expression)</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>do {
			</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>
			while(&lt;#Expression#&gt;)</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeCommentBlock</string>
		<key>XCSurroundWithActionTitle</key>
		<string>Comment block</string>
		<key>XCSurroundWithActionSummary</key>
		<string>/* ... */</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>/* </string>
		<key>XCSurroundWithActionSuffix</key>
		<string> */</string>
	</dict>
	<dict>
		<key>XCSurroundWithActionIdentifier</key>
		<string>XCSurroundWithTypeNSStringWithFormat</string>
		<key>XCSurroundWithActionTitle</key>
		<string>NSString with format</string>
		<key>XCSurroundWithActionSummary</key>
		<string>[NSString stringWithFormat: ... ]</string>
		<key>XCSurroundWithActionPrefix</key>
		<string>[NSString stringWithFormat:</string>
		<key>XCSurroundWithActionSuffix</key>
		<string>]</string>
	</dict>
</array>
</plist>
